<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MeHealth</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
   <!-- Sidebar Holder start -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a class="hero-brand" href="/" title="Home"><img alt="MeHealth" src="img/logo.jpeg"></a></h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/home">Covid Data</a>
            </li>
            <li>
                <a href="/covid/home">Covid Detection</a>
            </li>
            <li>
            <li>
                <a href="/covid/precautions">Precations</a>
            </li>
            <li>
                <a href="/covid/after-precautions">Precations(after covid +ve)</a>
            </li> 
            <li>
                <a href="/covid/plasma-donars">Plasma donars</a>
            </li>                
            </li>
            <li>
                <a href="/depression/home">Depression Detection</a>
            </li>  
            <li>
                <a href="/mealone">Chat bot</a>  
            </li>
            <li>
                <a href="/live-consultation">Live Consultation</a>
            </li>
        </ul>

    </nav>
<!-- Sidebar Holder ends -->
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
 
            
<h2>How to take covid precations</h2>
<p>Anyone who is sick — even if they don't know for sure they have COVID-19 — should stay home unless they need medical care. This helps prevent the illness from spreading to other people.</p>
<div class="line"></div>
<h2>What Should We Do at Home?</h2>
<p>To protect others at home, someone who is sick should:</p>
<p>1)As much as possible, keep away from other people and pets in the home.</p>
<p>2)Wear a mask if they must be around other people. Masks shouldn't be worn by kids younger than 2 years old or anyone who has trouble breathing.</p> <p>3)Cover coughs and sneezes with a tissue, throw the tissue away, and then wash their hands right away. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer</p>
<p>4)If possible, stay in a bedroom and use a bathroom separate from other people in the home.</p>
<p>5)Use separate dishes, glasses, cups, and eating utensils and not share these with other household members. After use, run them through the dishwasher or wash with very hot soapy water.</p>
<p>6)Use separate bedding and towels and not share these with other household members.</p>
<div class="line"></div>
<h2>When Should I Call the Doctor?</h2>
<p>1)If the person you're caring for seems to be getting sicker, call your doctor right away. Tell the doctor about their symptoms and whether they've been tested for COVID-19.</p>
<p>2)If they need to go to the doctor:</p>
<ul class="z">
    <li><p>The person should wear a mask.</p></li>
    <li><p>Keep tissues handy in case they need to cough or sneeze.</p></li>  
</ul> 
<p>Go to the emergency room or call 911 if the person has trouble breathing, is confused, or is very drowsy.</p>
   </div>

    </div>
    

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>