
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression classifier web page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
    .line{
        text-decoration:underline;
    }
    h1 {
        color: #11cdd4;
        margin-bottom: 50px;
    }
    h6{
        color:#11cdd4;
    }
    .pp{
        text-decoration-style: wavy;
        text-decoration-color:#11cdd4;
    }
    </style>
</head>
<body style="background-color:#ffffff;">

    <center> <h1 class="line">Suggestions to overcome Depression</h1></center>

    <ul>
        <h5><li>Improve your Sleep cycle is most important.</li></h5>
        <h5><li>Share your problems with the close people of yours.</li></h5>
        <h5><li>Do Meditation by taking deep breaths for 15 to 20 minutes</li></h5>
        <h5><li>Reduce your Stress by going on Tours.</li></h5>
        <h5><li>Improve Your Eating Habits</li></h5>
        <h5><li>Learn how to stop Negative thoughts:Cognitive behavioral thearpy(CBT) is a type of therapy that works to alter common patterns of negative thinking called congnitive disortions in order to eliminate depression.</li></h5>
        <h5><li>Build a Support Network</li></h5>
        <h5><li>Beat Procrastination:It's important to set deadlines and mange your time well.</li></h5>
        <h5><li>Working out regularly is one of the best way to relax your body and mind.</li></h5>
        <h5><li>Nutritous Food contains nutrients that will help you reduce stress.like kimchi,fatty fish,garlic,broccoli.</li></h5>
        <h5><li>Consult a good <u class="pp">Psychiatrist.</u> if needed</li></h5>
    </ul>
</body>
</html