
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MeHealth</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  
<!--Main Navigation-->
  <header>
    <div id="intro" class="view">

      <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

          <div class="row d-flex justify-content-center text-center">

            <div class="col-md-12">

              <!-- Heading -->
              <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                  <a class="hero-brand" href="/home" title="Home"><img alt="MeHealth" src="img/logo.jpeg"></a>
              </h2>

              <!-- Divider -->
              <hr class="hr-light">

              <!-- Description -->
              <a href="/home"><button type="button" class="btn btn-outline-white">Get Started<i class="fas fa-arrow-right"></i></button></a>

            </div>

          </div>

        </div>

      </div>

    </div>
    <!--/.Mask-->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">

      <!--Section: Best Features-->
      <section id="best-features" class="text-center">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">Best Features</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

          <!--Grid column-->
          <div class="col-md-8">

            <!-- Description -->
            <p class="grey-text">This web pages solution regarding covid19 data, prediction whether they got covid19, where they can get tips for mental health, 
                detect various mental diseases based on symptoms and remote examination of home quarantine person by a doctor, Get little fun during quarantine. </p>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-4 mb-1">
            <i class="fa fa-plus-square fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Predications</h4>
            <p class="grey-text">
                For predicting whether a person got affected covid19. We training ML model using sci-kit learn and various datasets. 
                Using input data from the user ML model will predict whether that person got affected with covid or not, Or he is in the early depression 
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-1">
            <i class="fa fa-box-open fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Chat Box</h4>
            <p class="grey-text">
                We train ML using NLP which interact with the person and it will show tell jokes, fun facts and few updates which help the person not to feel lonely during his quarantine time.
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-1">
            <i class="fa fa-stethoscope  fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Live Doctor Consideration</h4>
            <p class="grey-text">
                This page is very Helpful for covid patient.For example if they are in Covid Quarantine on emergence if they need any Doctor this page will help them in that situations
            </p>
          </div>
          <!--Grid column-->

        </div>
    </div>
  </main>
</body>
</html>